/* Start Main Rulez */
 body {margin:0px;}
 
 .container {width:1170px; margin:auto;} 
/* End Main Rulez */

/* Start Header */
.header {

	background-image:linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%), url('../images/slider2.jpg');
	height:700px;			
	background-size: cover;
	background-position: center center;
}

.header .slider .intro {overflow:hidden;margin-top:12%;margin-left:5%}

.header .slider .intro h3 {
	color:#1461FF;
	background-color:#FFF;
	width:9%;
	font-size:30px;
	padding:5px;
	border-radius:7%;
	font-family:'Libre Franklin', sans-serif;
	text-align:center;
}

.header .slider .intro h2 {
	color:#FFF;
	font-size:40px;
	font-family:'Raleway', sans-serif;
	font-weight:200
}

.header .slider .intro p {
	color:#FFF;
	font-family:'Open Sans', sans-serif;
	width:58%;
	line-height:1.6;
}


.header .slider .intro h2 span {font-weight:700;}

.header .navbar {overflow:hidden;}

.header .navbar h2 {
	margin-top:2%;
	color:#FFF;
    margin-left:5%;
    font-family:'Raleway', sans-serif;
}

.header .navbar ul {list-style:none;float:right;margin-top:-5%;}

.header .navbar ul li {float:left;color:#FFF;padding:15px;font-family:'Libre Franklin', sans-serif;}

.header .navbar ul li a {text-decoration:none;color:#FFF;}

 .header .navbar ul li a:hover {color:#1461FF;}
	
/* End Header */

/* Start About-me */
 .about-me {overflow:hidden;padding-top:70px;padding-bottom:50px;}
 
 .about-me .image {float:left;}
 
 .about-me .image img {width:80%;}
 
 .about-me .info {float:left;width:50%}
 
 .about-me .info h3 {font-family:'Open Sans', sans-serif;font-size:20px;margin-bottom:0;}
 
 .about-me .info hr {width:8%;border:2px solid #000;margin-left:0;}
 
 .about-me .info h2 {
	color:#1461FF;
    font-family:'Raleway', sans-serif;
    font-weight:200;
    font-size:28px;
	line-height:1.2;
 }
 
 .about-me .info > p {font-family:'Raleway', sans-serif;line-height:1.7;color:#A5A5A5;width:41rem;}
 
 .about-me .info .feat {float:left;width:50%;font-family:'Raleway', sans-serif;}
 
 .about-me .info .feat p {color:#A5A5A5;margin-left:12%}
 
 .about-me .info .feat p span {color:#000;}
 
 .about-me .info .feat img {width:5%;float:left;margin-top:6%;}
 
 .about-me .info  button {
	 background:linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
	 padding:18px 40px;
     border-radius:5rem;	
   	 color:#FFF;
	 font-family:'Raleway', sans-serif;
	 border:0;
	 margin-top:20px;
	 font-weight:700;
}

.about-me .info button:hover {background:#FFF;color:#1461FF}
/* End About-me */

/* start service */

 .service {text-align:center;padding-top:70px;background:#FAFAFA;overflow:hidden}
 
 .service .intro h4 {
	 background:#1461FF;
     color:#FFF;
	 font-size:10px;
	 width:8%;
	 margin-left:46%;
	 padding:5px 0;
	 font-family:'Raleway', sans-serif;
	 border-radius:8%;
 }
 
 .service .intro h2 {
	 font-size:40px;
	 font-family:'Raleway', sans-serif;
	 margin-top:0;
	 font-weight:500;
	 margin-bottom:0;
}
 
.service .intro > p {
	font-family:'Raleway', sans-serif;
	line-height:1.6;
	color:#A5A5A5;
    width:43rem;
	margin-left:15rem;
} 

.service .intro hr {border:1px solid #1461FF;width:6%}

.service .features {overflow:hidden;width:85rem;text-align:center;}

.service .features .feat {width:28%;float:left;padding-top:7%;background:#FFFFFF;} 

.service .features .feat i {color:#1461ff;display:block;font-size:40px;}

.service .features .feat h3 {font-family:'Raleway', sans-serif;font-weight:200;}

.service .features .feat p {font-family:'Raleway', sans-serif;color:#A5A5A5;width:80%;margin-left:12%;line-height:1.6}

.service .features .feat:hover {border-bottom:3px solid #1461FF;color:#1461FF;} 

/* end service */

/* start freelancer */
.freelancer {
  margin-top:50px;	 
  background-image:linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%), url('../images/lap3.jpg');
  height:500px; 
  background-size:cover;
}

.freelancer .info {text-align:center;font-family:'Raleway', sans-serif;}

.freelancer .info h3 {color:#FFF;padding-top:15%;font-size:35px;}

.freelancer .info button {
	 background:linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
	 padding:18px 40px;
     border-radius:5rem;	
   	 color:#FFF;
	 font-family:'Raleway', sans-serif;
	 border:0;
	 margin-top:20px;
	 font-weight:700;
}
/* End freelancer */

/* start my-work */
 
 .my-work {text-align:center;padding-top:50px;overflow:hidden}
 
 .my-work h4 { background:#1461FF;
     color:#FFF;
	 font-size:10px;
	 width:5%;
	 margin-left:35rem;
	 padding:5px 0;
	 font-family:'Raleway', sans-serif;
	 border-radius:8%;
}

.my-work h2 {	
     font-size:40px;
	 font-family:'Raleway', sans-serif;
	 margin-top:0;
	 font-weight:500;
	 margin-bottom:0;
}

.my-work p {
	font-family:'Raleway', sans-serif;
	line-height:1.6;
	color:#A5A5A5;
    width:43rem;
	margin-left:15rem;
} 

.my-work hr {border:1px solid #1461FF;width:6%}


.my-work .about {padding-top:50px;text-align:center}

.my-work .about ul {list-style:none;margin-left:28%;}

.my-work .about ul li {float:left;font-family:'Libre Franklin', sans-serif;padding:0 20px;}

.my-work .about ul li a {text-decoration:none;color:#4e4e4e;}

.my-work .about ul li.active a ,
.my-work .about ul li a:hover {background-color:#1461FF;color:#FFF;padding:10px 25px;border-radius:2rem}

.my-work .about .images {width:100%;margin-top:40px;float:left;margin-left:10%}

.my-work .about .images img {width:25%;float:left;padding:8px;}

.my-work .about button {
   	 background:linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
	 padding:18px 40px;
     border-radius:5rem;	
   	 color:#FFF;
	 font-family:'Raleway', sans-serif;
	 border:0;
	 margin-top:50px;
	 font-weight:700; 
}

.my-work .about button:hover {background:#FFF;color:#1461FF}
/* end my-work */

/* start info-2 */
.info-2 {
	 margin-top:50px;	 
  background-image:linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%), url('../images/team.png');
  height:500px; 
  background-size:cover;
  overflow:hidden;
}

.info-2 .icon-tx {float:left;margin-top:16%;text-align:center;color:#FFF;width:25%;border-right:1px solid #FFF;}

.info-2 .icon-tx i {font-size:40px;}

.info-2 .icon-tx h3 {color:#FFF;font-size:30px; font-family:'Raleway', sans-serif;}

.info-2 .icon-tx p {color:#FFF;font-size:20px; font-family:'Raleway', sans-serif;}

.info-2 .icon{float:left;margin-top:16%;text-align:center;color:#FFF;width:24%;}

.info-2 .icon i {font-size:40px;color:#FFF;}

.info-2 .icon h3 {color:#FFF;font-size:30px; font-family:'Raleway', sans-serif;}

.info-2 .icon p {color:#FFF;font-size:20px; font-family:'Raleway', sans-serif;}

/* end info-2 */

/* start information */
 .information {overflow:hidden;padding-top:70px;}
 
 .information .info-c {float:left;width:37%;margin-left:10%;}
 
 .information .info-c h4 {color:#1461FF;font-family:'Raleway', sans-serif;font-size:13px}
 
 .information .info-c h3 {font-family:'Raleway', sans-serif;font-weight:200;font-size:18px;}
 
 .information .info-c p {font-family:'Raleway', sans-serif;line-height:1.6;font-weight:200;font-size:13px;color:#424242}
 
 .information .info-c .icon {margin-right:-28%;}
 
 .information .info-c .icon ul {list-style:none;float:left;margin-left:-17%;margin-top:-18%;}
 
 .information .info-c .icon ul li {background-color:#1461FF;border-radius:50%;color:#FFF;margin-top:7rem;padding:6px;}
 
 .information .info-c .icon ul li i {font-size:25px}

 .information .info-g {width:37%;float:left;margin-left:10%;}
 
 .information .info-g h4 {color:#1461FF;font-family:'Raleway', sans-serif;font-size:13px;}
 
 .information .info-g h3 {font-family:'Raleway', sans-serif;font-weight:200;font-size:18px;}
 
 .information .info-g p {font-family:'Raleway', sans-serif;line-height:1.6;font-weight:200;font-size:13px;color:#424242}
 
 .information .info-g .icon {margin-right:-28%;}
 
 .information .info-g .icon ul {list-style:none;float:left;margin-left:-17%;margin-top:-18%;}
 
 .information .info-g .icon ul li {background-color:#1461FF;border-radius:50%;color:#FFF;margin-top:7rem;padding:6px;}
 
 .information .info-g .icon ul li i {font-size:25px}
 /* end information */
 
 /* start testimonials */
  .testimonials {
  overflow:hidden;
  margin-top:50px;	 
  background-image:linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%), url('../images/testimonials.png');
  height:500px; 
  background-size:cover;
  }
  
  .testimonials .feat {
	  text-align:center;
	  background-color:#FFF;
	  width:29%;
	  height:225px;
     margin-top:12%;
	 float:left;
	 margin-right:45px;
  }
  
  .testimonials .feat h4 {color:#1461FF;font-family:'Raleway', sans-serif;margin-bottom:5px;}
  
  .testimonials .feat span {color:#6b6b6b;font-family:'Raleway', sans-serif;font-size:13px;margin-top:2px;}
  
  .testimonials .feat p {
	 font-family:'Raleway', sans-serif;
	 line-height:1.6;
	 font-weight:200;
	 font-size:13px;
	 color:#6b6b6b;
	 width:69%;
	 margin-left:15%;
}

.testimonials .feat img {border-radius:100%;margin-top:-11%;width:20%;}
 /* end testimonials */
 
 /* start read more */
  .read-more {padding-top:50px;overflow:hidden}
 
 .read-more .info {text-align:center}
 
 .read-more .info h4 { 
   background:#1461FF;
     color:#FFF;
	 font-size:10px;
	 width:5%;
	 margin-left:35rem;
	 padding:5px 0;
	 font-family:'Raleway', sans-serif;
	 border-radius:8%;
}

.read-more .info h2 {	
     font-size:40px;
	 font-family:'Raleway', sans-serif;
	 margin-top:0;
	 font-weight:500;
	 margin-bottom:0;
}

.read-more .info > p {
	font-family:'Raleway', sans-serif;
	line-height:1.6;
	color:#A5A5A5;
    width:43rem;
	margin-left:15rem;
} 

.read-more hr {border:1px solid #1461FF;width:6%}

.read-more .feat  {float:left;width:33%;margin-top:70px;}

.read-more .feat .image {width:100%}

.read-more .feat .image img {width:90%}

.read-more .feat .intro {margin-left:6%;margin-top:40px;}

.read-more .feat .intro p:first-of-type {color:#1461FF;font-family:'Raleway', sans-serif;font-size:10px;margin-bottom:0;}

.read-more .feat .intro  span {color:#5f5f5f;font-family:'Raleway', sans-serif;}

.read-more .feat .intro h3 {color:#464646;font-family:'Raleway', sans-serif;font-weight:200;margin-top:12px;margin-bottom:-7px;}

.read-more .feat .intro p:last-of-type {width:80%;font-family:'Raleway', sans-serif;line-height:1.6;color:#A5A5A5;}

.read-more .feat .intro button {
	 background:linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
	 padding:15px 30px;
     border-radius:5rem;	
   	 color:#FFF;
	 font-family:'Raleway', sans-serif;
	 border:0;
	 font-weight:700; 
}

.read-more .feat .intro button:hover {background:#FFF;color:#1461FF}

.read-more .feat .intro i {font-size:6px;color:#1461FF;float:left;margin-right:4px;}
 /* end read more */
 
 /* start contact me */
  .contact-me {padding-top:170px;overflow:hidden}
 
 .contact-me .info {text-align:center}
 
 .contact-me .info h4 { 
   background:#1461FF;
     color:#FFF;
	 font-size:10px;
	 width:5%;
	 margin-left:35rem;
	 padding:5px 0;
	 font-family:'Raleway', sans-serif;
	 border-radius:8%;
}

.contact-me .info h2 {	
     font-size:40px;
	 font-family:'Raleway', sans-serif;
	 margin-top:0;
	 font-weight:500;
	 margin-bottom:0;
}

.contact-me .info > p {
	font-family:'Raleway', sans-serif;
	line-height:1.6;
	color:#A5A5A5;
    width:43rem;
	margin-left:15rem;
} 

.contact-me hr {border:1px solid #1461FF;width:6%}


.contact-me .form {padding-top:70px;float:left;width:65%;}

.contact-me .form input {padding:6px;border:1px solid #d4d4d4;}

.contact-me .form input[placeholder="Name*"]{width:76%;margin-bottom:20px;}

.contact-me .form input[placeholder="Subject*"]{width:34%;}

.contact-me .form input[placeholder="Email*"]{width:40%}

.contact-me .form textarea {margin-top:20px;width:78%;height:200px;border:1px solid #d4d4d4;}

.contact-me .form input:hover {border:1px solid #1461FF;}

.contact-me .form textarea:hover {border:1px solid #1461FF;}

.contact-me button {
   background:linear-gradient(-45deg,rgba(88, 195, 255,.8) 0,rgba(0, 77, 230,.8) 40%,rgba(0, 59, 177,.8) 100%);
	 padding:15px 30px;
     border-radius:5rem;	
   	 color:#FFF;
	 font-family:'Raleway', sans-serif;
	 border:0;
	 font-weight:700;
	width:79%;
    margin-top:20px;	
}

.contact-me button:hover {background:#FFF;color:#1461FF}

.contact-me .icon {padding-top:70px;float:left;width:24%}

.contact-me .icon i {color:#1461FF;font-size:25px;float:left;margin-right:5%;margin-top:5%;}

.contact-me .icon .info2 {width:20rem}

.contact-me .icon .info2 h5 {font-family:'Raleway', sans-serif;}

.contact-me .icon .info2 p {
	font-family:'Raleway', sans-serif;
	line-height:1.6;
	color:#A5A5A5;
   margin-left:14%;
   width:100%;
   margin-top:-9px;
 }
 /* end contact me */

 /* start footer */
  .footer {background-color:#1461FF;padding:15px;margin-top:70px;}
  
  .footer p {color:#FFF;font-family:'Raleway', sans-serif;}
  
  .footer ul {list-style:none;float:right;margin-top:-9px;}
  
  .footer ul li {float:left}
  
  .footer ul li i {color:#FFF;float:left;margin:10px;}
 /* end footer */